body {
    background: 
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
      url('../assets/loginbg.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}


.auth-container {
    background: rgba(0,0,0,0.7);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
}

h2 {
    margin-bottom: 30px;
    font-weight: 700;
    text-align: center;
}

.form-control {
    background: rgba(255,255,255,0.1);
    border: none;
    color: white;
}

.form-control:focus {
    background: rgba(255,255,255,0.25);
    box-shadow: none;
    color: white;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    font-weight: 600;
    background: #ff3d00;
    border: none;
    transition: background 0.3s ease;
}

.btn-primary:hover {
    background: #e63600;
}

.btn-link {
    color: #fff;
    text-decoration: underline;
    font-weight: 500;
    display: block;
    text-align: center;
    margin-top: 15px;
}

.alert {
    background-color: #ff4c4c;
    border: none;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
}
